{% extends "explore/play.html" %}

{% block play_title %}
    First-past-the-post
{% endblock %}

{% block system %}
    First-past-the-post
{% endblock %}

{% block play_script %}
    <script src="{{ url_for('static', filename='src/js/explore/first-past-the-post.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-2">
        <div class="flex flex-row justify-center items-end p-9" style="min-height: calc(100vh - 18rem);">
            <div class="flex flex-row items-end gap-4 absolute bottom-0" id="content">
                <div class="bar-e h-[30rem] from-primary" id="bar-a">A</div>
                <div class="bar-e h-96 from-secondary" id="bar-b">B</div>
                <div class="bar-e h-36 from-tertiary" id="bar-c">C</div>
            </div>
            <div class="card px-4 py-3 text-lg z-10" id="card">
                <p>\(\text{let } C = \text{ set of candidates}\)</p>
                <p>\(\text{let } V = \text{ set of votes each candidates got}\)</p>
                <p>\(\text{let } f =  \{(x, y): C \xrightarrow[\text{onto}]{1-1} V | x \in C \land y \in V; y = \text{number of votes } x \text{ got}\}\)</p>
                <p>\(\therefore \text{winner } = \max(f(n)); n \in C \)</p>
            </div>
        </div>
        <div class="flex flex-col gap-3">
            <div class="flex flex-row justify-end gap-[0.4rem]">
                <button class="btn btn-primary text-xl xl:text-2xl" id="back-btn">Back</button>
                <button class="btn btn-secondary text-xl xl:text-2xl" id="next-btn">Next</button>
            </div>
            <main class="flex flex-col gap-2 text-xl xl:text-2xl transition-slow-float" id="text">
                <p>
                    <strong>The one with the most votes wins.</strong>
                </p>
                <p>
                    Still don’t get it? Follow along!
                </p>
            </main>
        </div>
    </div>
{% endblock %}