{% extends "layout.html" %}

{% block title %}
    First-past-the-post
{% endblock %}

{% block main %}
    <div class="min-h-content">
        <div class="sm:p-12">
            <a href="/explore/first-past-the-post" class="link text-lg pr-1">
                <span class="material-icons">arrow_back</span>
                <span>Back</span>
            </a>
            <header class="flex flex-row flex-wrap gap-1 items-center font-bold text-4xl">
                <h1><a href="/explore/first-past-the-post" class="clickable rounded-lg">First-past-the-post</a></h1>
                <span class="material-icons text-primary-dark dark:text-primary">chevron_right</span>
                <h2>How it works</h2>
            </header>
        </div>
    </div>
{% endblock %}