{% extends "layout.html" %}

{% block title %}
    Not Found!
{% endblock %}

{% block main %}
    <div class="flex flex-col items-center gap-3 min-h-content text-center sm:p-9">
        <header class="text-3xl font-bold">
            <h1>
                Something has gone really wrong
            </h1>
        </header>
        <div class="flex flex-col items-center gap-12">
            <main class="text-xl max-w-[56ch]">
                <p>
                    It seems there has occurred an internal server error. Oh well!
                </p>
                <p>
                    Maybe come back to this page later. In the meantime, if something brought you here, click
                    <span class="link" onclick="window.history.back();" tabindex="0"><span class="link-text">here</span>
                    <span class="material-icons text-2xl" translate="no">launch</span></span> to go back.
                </p>
            </main>
            <samp class="card px-4 py-2 text-xl">
                500 Internal Server Error
            </samp>
        </div>
    </div>
{% endblock %}