@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #86BBD8;
    --secondary: #F6AE2D;
    --tertiary: #758E4F;
    --primary-accent: #33658A;
}

/* Reset */
body {
    font-family: "Inter", sans-serif;
}

/* Utilities */
.transition-slow-float {
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.transition-slow-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.h-120 {
    height: 30rem;
}

.h-128 {
    height: 32rem;
}

.min-h-content {
    min-height: calc(100vh - 7.5rem);
}

/* Components */
.btn {
    @apply inline-block rounded-lg px-4 py-2 text-black transition-shadow hover:ring hover:ring-blue-200 focus:outline-none
        focus:ring focus:ring-offset-2 focus:ring-blue-500;
}

.btn-primary {
    @apply bg-primary;
}

.btn-secondary {
    @apply bg-secondary;
}

.link {
    @apply inline-flex items-center gap-1 text-primary-accent font-bold rounded-lg cursor-pointer transition-shadow hover:ring hover:ring-blue-200
        focus:outline-none focus:ring focus:ring-offset-2 focus:ring-blue-500;
}

.link > .link-text {
    @apply underline;
}

.bar {
    @apply block w-56 text-2xl bg-gradient-to-b rounded-t-3xl;
    transition-property: height, opacity, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}