{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}
    <header class="flex flex-row justify-center">
        <h1 class="sr-only">Explore</h1>
        <p class="w-[50ch] max-w-screen font-bold text-2xl xl:text-3xl text-center">
            Over many decades, people have tried to solve the issues of <a class="link" href="/explore/first-past-the-post">
            <span class="link-text">FPTP</span><span class="material-icons text-2xl xl:text-3xl">launch</span></a>,
            here are some of the attempts!
        </p>
    </header>
    <main class="flex flex-col gap-6 my-9">
        <h2 class="font-bold text-2xl xl:text-3xl">Plurality system</h2>
        <ul class="grid grid-cols-3 gap-3">
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Dolor</li>
            <li>Sit</li>
            <li>Amet</li>
        </ul>
    </main>
{% endblock %}