{% extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}
    <header class="flex flex-row justify-center">
        <h1 class="sr-only">Explore</h1>
        <p class="w-[50ch] max-w-screen font-bold text-2xl xl:text-3xl text-center">
            Over many decades, people have tried to solve the issues of <a class="link" href="/explore/first-past-the-post">
            <span class="link-text">FPTP</span><span class="material-icons text-2xl xl:text-3xl">launch</span></a>,
            here are some of the attempts!
        </p>
    </header>
    <main class="flex flex-col gap-6 my-9">
        <section class="flex flex-col gap-3 lg:px-32">
            <h2 class="font-bold text-2xl xl:text-3xl">Plurality system</h2>
            <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-3">
                <li class="card card-explore">Lorem</li>
                <li class="card card-explore">Ipsum</li>
                <li class="card card-explore">Dolor</li>
                <li class="card card-explore">Sit</li>
            </ul>
        </section>
        <section class="flex flex-col gap-3 lg:px-32">
            <h2 class="font-bold text-2xl xl:text-3xl">Ranked/Preferential system</h2>
            <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-3">
                <li class="card card-explore">Dolor</li>
                <li class="card card-explore">Sit</li>
            </ul>
        </section>
    </main>
{% endblock %}