{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <div class="grid grid-cols-2">
        <div></div>
        <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-1">
                <h1 class="text-5xl font-black">Our elections are broken.</h1>
                <h2 class="text-5xl font-black">Let’s fix that.</h2>
            </div>
            <div>
                <button class="btn btn-secondary text-lg">See why</button>
                <a class="btn btn-primary text-lg" href="/explore">See how</a>
            </div>
        </div>
    </div>
    <div>
        <div></div>
    </div>
{% endblock %}