{% extends "layout.html" %}
{% set page = "home" %}

{% block title %}
    Welcome
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='src/js/index.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="grid grid-cols-2 min-h-content">
        <div></div>
        <div class="flex flex-col gap-6 py-9 z-10">
            <div class="flex flex-col gap-1" id="header">
                <h1 class="text-4xl xl:text-5xl font-black">Our elections are broken.</h1>
                <h2 class="text-4xl xl:text-5xl font-black">Let’s fix that.</h2>
            </div>
            <div class="flex flex-row gap-2" id="btns-container">
                <button class="btn btn-secondary text-xl xl:text-2xl" id="next-btn" autofocus>See why</button>
                <a class="btn btn-primary text-xl xl:text-2xl" href="/explore">See how</a>
            </div>
            <div class="flex flex-col gap-2 pl-32 text-xl xl:text-2xl transition-slow-float" id="text" style="transform: translateX(0);">
                <p>
                    Have you ever felt like nothing ever happens anymore in your government?
                </p>
                <p>
                    It might be because the way we vote for people is systematically flawed.
                </p>
                <p>
                    <button class="link" id="next-link">
                        <span class="link-text">How?</span>
                        <span class="material-icons text-2xl xl:text-3xl">launch</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="flex flex-row items-end gap-4 absolute bottom-0 left-0 px-24">
        <div class="bar h-[30rem] from-primary" id="bar-a"></div>
        <div class="flex flex-col">
            <div class="bar h-36 from-tertiary-light" id="bar-b-top"></div>
            <div class="bar h-96 from-secondary" id="bar-b"></div>
            <div class="block absolute w-56 h-36 rounded-3xl bg-transparent transition-slow-all" id="bar-b-border"
                style="top: 1rem; left: 21rem;"></div>
        </div>
        <div class="bar h-36 from-tertiary" id="bar-b1"></div>
        <div class="bar h-0 from-primary-dark" id="bar-d"></div>
    </div>
{% endblock %}