<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Democrazy drives into how our elections are broken using easy to understand animations, and explore
        other voting systems we can use instead.">
    <title>{% block title %}{% endblock %} – Democrazy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/typography.css') }}">
    {% block script %}{% endblock %}
</head>

<body class="bg-white text-black dark:bg-gray-800 dark:text-white">
    <nav class="fixed flex flex-row flex-wrap justify-between items-center gap-6 w-screen px-12 py-2 text-xl rounded-b-xl bg-white
        dark:bg-gray-600 bg-opacity-50 backdrop-filter backdrop-blur shadow-lg z-40">
        <img src="{{ url_for('static', filename='pictures/logo.svg') }}" alt="Democrazy logo" class="w-40">
        <ul class="flex flex-row flex-wrap gap-1 list-none px-9">
            <li class="{{ 'bg-gray-200 dark:bg-gray-500 shadow-inner' if page == 'home' }} px-4 py-2 rounded-lg">
                <a href="/" class="hover:opacity-75 transition-opacity">Home</a>
            </li>
            <li class="{{ 'bg-gray-200 dark:bg-gray-500 shadow-inner' if page == 'explore' }} px-4 py-2 rounded-lg">
                <a href="/explore" class="hover:opacity-75 transition-opacity">Explore</a>
            </li>
            <li class="{{ 'bg-gray-200 dark:bg-gray-500 shadow-inner' if page == 'polls' }} px-4 py-2 rounded-lg">
                <a href="/polls" class="hover:opacity-75 transition-opacity">My Polls</a>
            </li>
        </ul>
    </nav>
    <div>
    <div class="transform translate-y-12 p-9">
        {% block main %}{% endblock %}
    </div>
</body>

</html>