<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} – Democrazy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/main.css') }}">
</head>

<body>
    <nav class="fixed flex flex-row flex-wrap justify-between gap-6 w-screen px-12 py-3 text-xl rounded bg-white bg-opacity-50
        backdrop-filter backdrop-blur shadow-xl z-40">
        <div>
            Democrazy
        </div>
        <ul class="flex flex-row flex-wrap gap-6 list-none">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
        </ul>
    </nav>
    <main class="transform translate-y-12 p-9">
        {% block main %}{% endblock %}
    </main>
</body>

</html>